@import url(//db.onlinewebfonts.com/c/26f7bcdf8d188588f4744e5b49d12d6a?family=evfont);
@font-face {font-family: "evfont"; src: url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.eot"); src: url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.woff") format("woff"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.svg#evfont") format("svg"); }

body {
    margin: 0;
    font-family: evfont;
    padding-top: 40px;
    background-color: lightskyblue;
}