@import url(//db.onlinewebfonts.com/c/26f7bcdf8d188588f4744e5b49d12d6a?family=evfont);
@font-face {font-family: "evfont"; src: url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.eot"); src: url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.woff") format("woff"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.svg#evfont") format("svg"); }

body {
    margin: 0;
    font-family: evfont;
    background-color: lightskyblue;
    white-space: normal;
}

main > div{
    padding:15px;
}

.row {
    margin: 0;
}

textarea {
    width: auto;
    height: 35px;
}


.tweetBtn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
}
.tweetBtn:hover {
    color:royalblue;
}

.tweetButtonsSection > button {
    color: white;
}
.tweetButtonsSection > button:hover {
    color: pink;
}

.isLiked {
    color:red !important;
}

.mentions {
    color: blue;
    margin: 0;
    padding: 0;
}
.hashtags {
    color:red;
    margin: 0;
    padding: 0;
}
.wrapword {
     /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.meta-tweet {
    border: 1px solid black;
    height: 200px;
}

.trends {
    margin-top: 30px;
    border: 1px solid black;
    height: 350px;
}

ul li {list-style-type: none;}

.following {
    margin-top: 30px;
    border: 1px solid black;
    height: 350px;
}
